USE [ServiceCenterDB]
GO
/****** Object:  Table [dbo].[Komentarii]    Script Date: 12.07.2026 5:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentarii](
	[KomentariyId] [int] IDENTITY(1,1) NOT NULL,
	[ZayavkaId] [int] NULL,
	[PolzovatelId] [int] NULL,
	[TekstKomentariya] [nvarchar](max) NOT NULL,
	[DataSozdaniya] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KomentariyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oborudovanie]    Script Date: 12.07.2026 5:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oborudovanie](
	[OborudovanieId] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](100) NOT NULL,
	[Tip] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OborudovanieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polzovateli]    Script Date: 12.07.2026 5:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polzovateli](
	[PolzovatelId] [int] IDENTITY(1,1) NOT NULL,
	[PolnoeImya] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Parol] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PolzovatelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipyNeispravnostey]    Script Date: 12.07.2026 5:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipyNeispravnostey](
	[TipNeispravnostiId] [int] IDENTITY(1,1) NOT NULL,
	[NazvanieTipa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipNeispravnostiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zayavki]    Script Date: 12.07.2026 5:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zayavki](
	[ZayavkaId] [int] IDENTITY(1,1) NOT NULL,
	[NomerZayavki] [nvarchar](20) NOT NULL,
	[DataSozdaniya] [datetime] NULL,
	[OborudovanieId] [int] NULL,
	[TipNeispravnostiId] [int] NULL,
	[Opisanie] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[KlientId] [int] NULL,
	[NaznachenoKomu] [int] NULL,
	[Sozdal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZayavkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomerZayavki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Komentarii] ADD  DEFAULT (getdate()) FOR [DataSozdaniya]
GO
ALTER TABLE [dbo].[Zayavki] ADD  DEFAULT (getdate()) FOR [DataSozdaniya]
GO
ALTER TABLE [dbo].[Zayavki] ADD  DEFAULT ('В ожидании') FOR [Status]
GO
ALTER TABLE [dbo].[Komentarii]  WITH CHECK ADD FOREIGN KEY([PolzovatelId])
REFERENCES [dbo].[Polzovateli] ([PolzovatelId])
GO
ALTER TABLE [dbo].[Komentarii]  WITH CHECK ADD FOREIGN KEY([ZayavkaId])
REFERENCES [dbo].[Zayavki] ([ZayavkaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD FOREIGN KEY([KlientId])
REFERENCES [dbo].[Polzovateli] ([PolzovatelId])
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD FOREIGN KEY([NaznachenoKomu])
REFERENCES [dbo].[Polzovateli] ([PolzovatelId])
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD FOREIGN KEY([OborudovanieId])
REFERENCES [dbo].[Oborudovanie] ([OborudovanieId])
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD FOREIGN KEY([Sozdal])
REFERENCES [dbo].[Polzovateli] ([PolzovatelId])
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD FOREIGN KEY([TipNeispravnostiId])
REFERENCES [dbo].[TipyNeispravnostey] ([TipNeispravnostiId])
GO
ALTER TABLE [dbo].[Polzovateli]  WITH CHECK ADD CHECK  (([Rol]='Клиент' OR [Rol]='Сотрудник' OR [Rol]='Менеджер' OR [Rol]='Мастер'))
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD CHECK  (([Status]='Выполнено' OR [Status]='В работе' OR [Status]='В ожидании'))
GO
